ul.blog-types {
    list-style-type: none;
    text-align: center;
}

div.blog h3 {
    margin-top: 0.5em;
}

div.paginator {
    text-align: center;
    margin-bottom: 25px !important;
}

div.blog:not(:last-child) {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
}

div.blog p.blog-info {
    margin-bottom: 0;
}

ul.blog-info-description {
    list-style-type: none;
    margin-bottom: 1em;
    padding-left: 0em;
}

ul.blog-info-description li {
    display: inline-block;
    margin-right: 1em;
}

div.blog-content {
    text-indent: 2em;
    margin-bottom: 2em;
}

.panel-default {
    margin-top: 20px;
}

div.blog-more {
    margin-top: 1em;
}

div.comment-area {
    margin-top: 2em;
    margin-bottom: 2em;
}

h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget {
    width: 100%;
}

div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

div.reply {
    margin-left: 2em;
}

div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}

p#reply_title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}

div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like .active {
    color: #f22;
}

div.mod-info-flow {
    display: inline-block;
    margin-top:2em;
}

div.mod-b {
    height: 225px;
    border-bottom: 1px solid #f0f0f0;
    width: 800px;
    position: relative;
    padding: 30px 0;
}
li.list-group-item{
    background-color: #e9f1ed6b;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

a.glyphicon-menu-right{
    font-size: 15px;
    color: gray;
}
div.panel-title{
    display: inline-block;
    line-height: 1.2;
    font-size: 25px;
}
div.distance{
    margin-top: 1em;
}
div.panel-primary{
    margin-top: 1em;
}
div.distance p{
    font-size: 15px;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
div.blog-content p{
    font-size: 15px;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
div.blog-more p{
    display: inline;
}

body{
    background: #f5f5f5;
}
div.content{
    background-color: white;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-left: 40px;
    padding-right: 40px;
    width: 850px;
}
ul{
    margin-bottom: 2.5em!important;
}
div.row h3{
    text-align: center;
    font-weight:400;
}
span.glyphicon{
    color:#808080a6;
    margin-right: 4px;
}
ul.blog-info-description{
    text-align: center;
}
div.comment-area h3{
    text-align: left;
}
pre{
    background-color: #333!important;
    font-size: 14px!important;
}