{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% block title %}
    日期归档
{% endblock %}
{% block nav_blog_active %}
    active
{% endblock %}
{% block header_extends %}
        <link rel="stylesheet" href="{% static "blog/blog_archive.css" %}">
{% endblock %}
{% block content %}
    <div class="archive-container">
        <div class="container archive">
            {% for blog_date in blog_dates %}
                <h2>{{ blog_date.year }}年{{ blog_date.month }}月</h2>
                {% for blog in blog_date|time_count %}
                    <dl class="dl_style">
                        <dt>{{ blog_date|date:"Y-m-d" }}</dt>
                        <dd><a href="{% url "blog:blog_detail" blog.id %}">{{ blog.title  }}</a></dd>
                    </dl>
                {% endfor %}

            {% endfor %}
        </div>
    </div>
{% endblock %}