body {
    margin: 0;
    padding: 0;
}

div.jumbotron {
    background-image: url("../media/back.jpeg");
    height: 300px;
    background-size: cover;
    background-position: 100% 50%;
}

div.jumbotron h1 {
    color: white;
}

div.pull-left  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}
div.navbar-right a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.header-content {
    text-align: center;
    padding: 25px 0 55px 0
}

.header-title {
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}

.header-wrapper {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}